body,
main {
  color: white;
  background: rgb(50,50,50);
  font-family: 'Alata', sans-serif;
  min-height: 100vh;
}

a {
  color: white;
  text-decoration: none;
}

.main-container {
  height: 95vh;
  background: rgb(50,50,50);
  padding: 10px;
}


@media(min-width: 425px) {
  .main-container {
    padding: 20px 50px;
  }
}
