body,
main {
  color: white;
  background: rgb(50,50,50);
  font-family: 'Alata', sans-serif;
  min-height: 100vh;
}

a {
  color: white;
  text-decoration: none;
}

.main-container {
  height: 95vh;
  background: rgb(50,50,50);
  padding: 10px;
}

header {
  font-family: 'Alata', sans-serif;
  background: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

header h1 {
  font-size: 50px;
  letter-spacing: 3px;
  background: -webkit-linear-gradient(#3F9BFF, #C03DB5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media(min-width: 375px) {
  .main-container {
    padding: 20px 50px;
  }
}
